*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 16px*0,625 =10 px = 1rem */
}
body{
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
/*Header */
header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
header a:hover{
    color: #f0899f;
}
.brand a {
    font-size: 3rem;
}
footer{
    background-color: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

main{
    display: flex;
    justify-content: space-evenly;
}
.products{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1200px;
    gap: 2rem;
    list-style: none;
    margin: 6rem 9rem 4rem;
}
@media (max-width: 600px) {
    .products{grid-template-columns:repeat(1,1fr)}
}
.product {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0;
    margin: 0;    
}
.productContainer {
    margin-top: 0;
}

.btn-add-cart{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 10rem;
    font-size: 1.3rem;
}
.product img{
    width:  120px;
    height: 200px;
    object-fit: cover;
    border-radius: 2%;
    border: 1px solid black ;
}
.hidden {
    display: none;
  }
  /*Modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 10rem;
    background-color: white;
    padding: 0;
    border-radius: 3x;
    border: 1px solid #203040;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  /*Cart*/
.cartContainer{
    list-style-type: none;
    margin-left: 1rem 0 0 5rem;
}
.item {
    display: flex;
    align-items: center;
    margin: 6rem  3rem 0;
    border: 1px solid red;
    height: 13rem;
    padding: 0;
}
.title{
    width: 25vh;
    text-align: center;
}

.cart {
    height: auto;
}
.cart > h5 {
    margin: 0;
    text-align: center;
    height: auto;
}
.quantity{
    display: flex;
}

form > h5 {
margin: 0 0 0 1rem ;
}

input{
    height: 2.5rem;
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

.item-picture {
    width:  72px;
    height: 120px;
    object-fit: cover;
    border: 1px solid black;
    margin: 0;
}
.price {
    width: 5vh;
    text-align: center;

}
.productPrice{
    width: 5vh;
    font: 1.6rem Helvetica, Arial;
}

.delete-btn{
    margin-left: 1rem;
}
button {
        height: 2.5rem;
        width: auto;
        margin-top: 0;
        margin-left: 0;
} 

.total{
    border:1px solid black;
    margin: 10rem 0 0 0;
    width: max-content;
}