* {
  box-sizing: border-box;
  border: 2px red solid;
}
html {
  font-size: 62.5%; /* 16px*0,625 =10 px = 1rem */
}
body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
/*Header */
header {
  grid-area: header;
  background-color: #010a13;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
header a:hover {
  color: #f0899f;
}
.brand a {
  font-size: 3rem;
}

.fa-shopping-cart {
  padding-right: 2rem;
}

footer {
  background-color: #010a13;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: space-evenly;
}
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  gap: 2rem;
  list-style: none;
  margin: 6rem 9rem 4rem;
}
@media (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
.product {
  border: rgb(196, 33, 55, 0.4) 1px solid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.5rem;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.productContainer {
  margin-top: 0;
}

.btn-add-cart {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 10rem;
  font-size: 1.3rem;
}

.btn-add-cart:hover {
  background-color: #f0899f;
}
.btn-add-cart:active {
  background-color: #f0899f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.product img {
  width: 120px;
  height: 200px;
  object-fit: cover;
  border-radius: 2%;
  border: rgb(196, 33, 55, 0.4) 1px solid;
}
.product-name {
  width: 120px;
  text-align: center;
  font-weight: bold;
}
/*Cart*/
.cartContainer {
  list-style-type: none;
  margin: 1rem 0 0 2rem;
  padding: 0;
}
.item {
  border: rgb(196, 33, 55, 0.4) 1px solid;
  border-radius: 3px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0;
  width: auto;
  height: 13rem;
  padding: 0;
}
.title {
  width: 20vh;
  text-align: center;
}

.cart {
  height: auto;
}
.cart > h5 {
  margin: 0;
  text-align: center;
  height: auto;
}

.quantity {
  display: flex;
}

form > h5 {
  margin: 0 0 0 1rem;
}

input {
  width: 4vh;
  height: 4vh;
  text-align: center;
}

form {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.4rem;
}
.productTitle {
  width: min-content;
}

.productTitle > h5 {
  width: min-content;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 4vh;
  height: 4vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-picture {
  width: 8vh;
  height: auto;
  margin: 0;
}
.price {
  width: auto;
  text-align: center;
}
.productPrice {
  width: auto;
  font: 1.6rem Helvetica, Arial;
}

.delete-btn {
  margin-left: 1rem;
}
button {
  height: 2.5rem;
  width: auto;
  margin-top: 0;
  margin-left: 0;
  text-align: center;
}

.value-button {
  width: 5vh;
  width: 5vh;
  border: 1px solid #294020;
  padding-top: 1px;
  justify-content: center;
}

.total {
  border: rgb(196, 33, 55, 0.4) 1px solid;
  margin: 10rem 0 0 0;
  width: min-content;
}
